---
import FootBottom from "./FootBottom.astro";
import FootTop from "./FootTop.astro";
---

<div>
    <FootTop />
    <FootBottom />

</div>


<style>
/*     div {
        background-color: #c92525;
        width: 100%;
        height: auto;
        min-height: 20vh;
        max-height: 50vh;
       
    } */
</style>