---
---




<div class="container">

    <div class="left-column">

      <h1>Título</h1>
      <p>Subtítulo</p>
  
    </div>

    <div class="right-column">

        <h1>Título</h1>
        <p>Subtítulo</p>
    </div>

</div>


<style>
    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      height: 600px;
      width: 100%;
      background: #3B72BE; /* Fallback color */
      background: linear-gradient(to bottom, #3B72BE, #2E5899);
    }
  </style>