---
interface Props {
	texto: string;
    link:string;
    color?:string;
}

const { texto } = Astro.props;
const { link } = Astro.props;
const { color } = Astro.props;


---


<a href={link}>{texto}</a>
<!--  -->

<style>

    a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 16px;
        text-align: center;
        color: #2e5899;
        margin-left: 10px;
        margin-right: 10px;
        font-weight: 500;
        text-decoration: none; /* Elimina la decoración predeterminada del enlace */
        position: relative; /* Añade posición relativa para el elemento padre */
    }

    a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: #D10030;
        transition: width 0.3s; /* Agrega una transición para la propiedad width */
    }

    a:hover::after {
        width: 100%; /* Al hacer hover, la línea se expande al 100% de la anchura */
    }
</style>