---
---

<nav>
    <p aria-label="Local weather station">Local weather station</p>
    <p aria-label="Address">1844 RTA 4USA</p>
    <p aria-label="Email">info@rtatel.com</p>
</nav>

<style>
  
    nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        height: 28px;
        background-color: #2E5899;
       
    }


    p {
        display: flex;
        flex-direction: column;
        font-size: 13px;
        text-align: center;
        color: white;
        margin-left: 10px;
        margin-right: 10px;
        font-weight: 600;
    }
</style>