---
import  HeadInfo  from './HeadInfo.astro';
import  NavbarMid  from './NavbarMid.astro';


---
<HeadInfo/>

<div>

   
</div>
<NavbarMid/>


<style>
  div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    height: 70px;
  }
</style>