---
import Layout from '../layouts/Layout.astro';

---

<Layout title="RTA">
	<h1 class="text-white text-6xl font-bold text-center p-8">Space x launches 🚀 </h1>
	<p class="text-xl text-yellow-300 flex-auto p-8 first-letter:uppercase text-center">Testeando el layout</p>
</Layout>
