---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Zane Smith">
    <h1>#38 Zane Smith</h1>
    <p>Coming soon...</p>
</Layout>

<style>
    h1, p{
        color: yellow;
    }
</style>